.body-10 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    background-image: url(https://img.freepik.com/premium-vector/futuristic-background-retro-style-digital-grid-landscape-80s-vector-background-party_658411-424.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.upload-form-container2 {
    width: 500px;
    /* border: 2px solid red; */
    /* background-color: white; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* gap: 3.5rem; */
    gap: 2rem;
    height: min-content;
    padding-top: 4rem;
    
}
.welcome-box{
    padding-top: 4rem;
    color: white;
    /* border: 2px solid red; */
    margin-top: 4rem;
}
.welcome-box h1{
    font-size: 4.5rem;
}

.upload-form-container2 form {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.formHead3{
    text-align: center;
    display: block;
    font-size: 2.5rem;
    color: #d815b4;
}

.upload-form-container2 input,.upload-form-container2 select {
    width: 100%;
    font-size: 1rem;
    color: rgb(237, 237, 237);
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    background-color: #65567d;;
    box-shadow: black 1px 1px 5px;
}

.upload-form-container2 input::placeholder, .upload-form-container2 option{
    color: #a7a5a5;
}


/* .upload-form-container2 label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom:  2px;
    margin-top: 5px;
    color: #ffffff;
} */
.btn2
{
    width: 200px;
    padding: 0.5rem 1.2rem;
    font-size: 1.3rem;
    background-color: #d815b4;
    margin-top: 10px;
    border-radius: 10px;
    justify-self: center;
    color: white;
    box-shadow: black 1px 1px 5px;
}

.upload-preview2 {
    /* border: 2px solid red; */
    position: absolute;
    bottom: 1rem;
    left: 5vw;
    /* transform: translate(-50% , 0); */
}
.upload-preview2 img {
    aspect-ratio: 1.8/1;
    width: calc(calc(100vw - 700px)/2);
    width: calc(60vw);
}
.inner {
    display:flex;
    gap: 5px;
}

@media screen and (max-width:480px) {
    .body-10 {
        overflow-y: scroll;
        display: block;
        /* flex-direction: column;
        align-items: flex-start;
        justify-content: center; */

    }
    .upload-form-container2{
        /* padding-top: 2rem; */
        width: 85%;
        margin: auto;
        padding: 0;

    }
    .formHead3 {
        font-size: 1.8rem;
    }
    .upload-preview2 {
        /* display: block; */
        position: static;
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }
    .upload-preview2 img {
        width: 100%;
    }
    .upload-form-container2 form {
        gap:10px;
    }
    .inner{
        flex-direction: column;
        gap: 10px;
    }
    .btn2{
        margin: auto;
        margin-top: 1rem;
        
    }
    .welcome-box{
        margin: auto;
        padding: 0;
        margin-top: 1rem;
    }
    .welcome-box h1{
        font-size: 2.5rem;
        text-align: center;
        margin:auto;
    }
    .formHead3{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    
}